<div class="login-page app-login-background" [@routerTransition]>
    <ngx-spinner
      bdOpacity = 0.9
      bdColor = "#333"
      size = "medium"
      color = "#fff"
      type = "ball-newton-cradle"
      [fullScreen] = "true"
    >
    <p style="color: white" > Loading... </p>
    </ngx-spinner>
    <div class="row justify-content-md-center">
      <div class="col-md-5">
        <img src="assets/images/logo.png" width="150px" />
        <h1 class="app-main-heading app-uppercase app-white-text">Camp Monitoring Program</h1>
        <form [formGroup]="forgetPasswordForm" (ngSubmit)="onForgetPassword()">
          <div class="app-login-wrapper">
            <div class="form-content">
              <div class="form-group">
                <input type="text" formControlName="email" class="form-control  input-lg input-transparent input-icon-username" placeholder="{{ 'Email' | translate }}">
              </div>
            </div>       
            <button class="btn btn-danger btn-lg btn-block app-btn red-btn" type="submit">{{ 'Submit' | translate }}</button>
            <div class="app-login-footer">
              <a class="app-link-grey" [routerLink]="['']">Back to login</a>
              <div >
                <img class="footer-logo" src="assets/images/ccl-logo.png"  />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  