<div [@routerTransition]>
    <ngx-spinner
    bdOpacity = 0.9
    bdColor = "#333"
    size = "medium"
    color = "#fff"
    type = "ball-newton-cradle"
    [fullScreen] = "true">
	<p style="color: white" > Loading... </p>
	</ngx-spinner>
    <!--app-page-header [heading]="'Patients'" [icon]="'fa-users'"></app-page-header-->
    <div class="app-page-title-wrapper">
		<h2 class="app-page-title">Patients</h2>
		<ul class="list-inline app-breadcumb">
			<li  class="list-inline-item">
				<a href="#">CMP Dashboard -</a>
			</li>
			<li  class="list-inline-item">
				<a href="#">Patients</a>
			</li>
		</ul>
    </div>
    <div class="row">
        <div class="col col-md-7 mx-auto">
            <div class="app-table-view">
                
                <div class="app-filter-form pb-0">
                    <div class="row">
                        <div class="col col-md-11 mx-auto">
                            <form [formGroup]="patientsFilter" (ngSubmit)="onSubmit()">
                                <ul class="list-inline app-filters">
                                    <li  class="list-inline-item">
                                        <div>
                                            <!--label class="app-form-label">Camp Type</label-->
                                            <select class="form-control app-form-input app-form-wide-input" [value]="" formControlName="campType">
                                                <option value="">Select Camp Type</option>
                                                <option value="1">Cardio Camp</option>
                                                <option value="2">Dibetic Camp</option>
                                                <option value="3">Cardio/Dibetic Camp</option>
                                            </select>
                                        </div>    
                                    </li>
                                    <li  class="list-inline-item">
                                        <div class="patient-filter">
                                            <button type="submit" class="btn btn-primary app-btn"> Apply </button>
                                        </div>
                                    </li>
                                    <li  class="list-inline-item">
                                        <div>
                                            <button type="button" (click)="onReset()" class="btn btn-success app-btn"> Reset </button>
                                        </div>    
                                    </li>
                                </ul>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-xl-12 col-lg-12">
                        <div class="app-table-patients">
                            <table role="table">
                                <thead role="rowgroup">
                                    <tr role="row">
                                        <th role="columnheader">Patient Name</th>
                                        <th role="columnheader">Patient Contact</th>
                                        <th role="columnheader">Gender</th>
                                    </tr>
                                </thead>
                                <tbody role="rowgroup">
                                <tr role="row" *ngFor="let patient of patients">
                                    <td role="cell">{{ patient.patient_name }}</td>
                                    <td role="cell">{{ patient.phone_no }}</td>
                                    <td role="cell">{{ patient.gender }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>    
            </div> 
        </div>   
    </div>
        


  </div>
  