<div [@routerTransition]>
  <app-page-header [heading]="'Forms'" [icon]="'fa-edit'"></app-page-header>
  <div class="map-container">
    <h4>Click on Map for setting the location of Camp</h4>
    <div class="map-frame">
      <div #mapContainer id="map"></div>
    </div>
  </div>
  <div class="row" class="campForm">
      <div class="col-lg-6 my-auto">
          <form [formGroup]="campForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label>Camp Type</label>
              <select class="form-control" formControlName="campType">
                <option [disabled]>Select Camp</option>
                <option>Cardio Camp</option>
                <option>Dibetic Camp</option>
                <option>Cardio/Dibetic Camp</option>
              </select>
            </div>
            <fieldset class="form-group">
              <label class="required">Doctor Name</label>
              <input class="form-control" formControlName="doctorName" />
            </fieldset>
            <fieldset class="form-group">
              <label class="required">Camp Date and Time</label>
              <input class="form-control" formControlName="campDateAndTime" />
            </fieldset>
            <fieldset class="form-group">
              <label class="required">Camp Address</label>
              <input class="form-control" formControlName="campAddress" />
            </fieldset>
            <div class="form-group">
              <label>BP Apparatus</label>
              <select class="form-control" formControlName="bpApparatus">
                <option [disabled]>Select Option</option>
                <option value="1">Yes</option>
                <option value="0">No</option>
              </select>
            </div>
            <div class="form-group">
              <label>Blood Sugar Meter</label>
              <select class="form-control" formControlName="bloodSugarMeter">
                <option [disabled]>Select Option</option>
                <option value="1">Yes</option>
                <option value="0">No</option>
              </select>
            </div>
            <fieldset class="form-group">
              <label class="required">Number of Strips</label>
              <input class="form-control" formControlName="strips" />
            </fieldset>
            <fieldset class="form-group">
              <label class="required">Number of Flyers</label>
              <input class="form-control" formControlName="flyers" />
            </fieldset>
            <fieldset class="form-group">
              <label class="required">Number of Screeing Slips</label>
              <input class="form-control" formControlName="screeingSlips" />
            </fieldset>
            <button type="submit" class="btn btn-success" [disabled]="!campForm.valid">
              Request a Camp
            </button>
          </form>
      </div>
  </div>
</div>
