<div [@routerTransition]>
  <app-page-header [heading]="'Users'" [icon]="'fa-users'"></app-page-header>
	<div class="row">
		<div class="col col-xl-12 col-lg-12">
			<div class="card mb-3">
				<div class="card-header">
						Users
						<button
								type="button"
								class="btn btn-primary btn-userAdd"
								(click)="addUser()"
						>
								Add User
						</button>
				</div>
				<div class="card-body table-responsive">
					<table class="table table-hover table-striped">
						<thead>
							<tr>
								<th>Name</th>
								<th>Email</th>
								<th>Employee Code</th>
								<th>Region</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let user of users">
								<td>{{ user.name }}</td>
								<td>{{ user.email }}</td>
								<td>{{ user.employee_code }}</td>
								<ng-container *ngFor="let region of regions">
									<td *ngIf="region.id == user.region">{{ region.region_name }}</td>
								</ng-container>
								<td><a (click) = editUser(user.id)>Edit</a> <a href="#">Delete</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
