<div [@routerTransition]>
	<ngx-spinner
    bdOpacity = 0.9
    bdColor = "#333"
    size = "medium"
    color = "#fff"
    type = "ball-newton-cradle"
    [fullScreen] = "true"
  >
<p style="color: white" > Loading... </p>
</ngx-spinner>
  <!--app-page-header [heading]="'Users'" [icon]="'fa-users'"></app-page-header-->

	<div class="app-page-title-wrapper">
		<h2 class="app-page-title">Users</h2>
		<ul class="list-inline app-breadcumb">
			<li  class="list-inline-item">
				<a href="#">CMP Dashboard -</a>
			</li>
			<li  class="list-inline-item">
				<a href="#">Users</a>
			</li>
		</ul>
	</div>
	<div class="app-table-view">
		<div class="row">
			<div class="col col-md-12">
				<div class="app-filter-form">
					<!-- Filters -->
					<form [formGroup]="userFilter" (ngSubmit)="onSubmit()">
						<ul class="list-inline app-filters">
							<li  class="list-inline-item">
								<div>
									<label class="app-form-label">Search</label>
									<input class="form-control app-form-input app-form-wide-input" formControlName="userName" placeholder="Search" style="width: 100%;" />
								</div>
							</li>
							<li  class="list-inline-item">
								<div>
									<label class="app-form-label">Team</label>
									<select class="form-control app-form-input" [value]="" formControlName="teams">
										<option value="">Select Team</option>
										<option *ngFor = "let team of teams" value="{{team.id}}">{{ team.team_name }}</option>
									</select>
								</div>
							</li>
							<li  class="list-inline-item">
								<div>
									<label class="app-form-label">Region</label>
									<select class="form-control app-form-input" [value]="" formControlName="region">
										<option value="">Select Region</option>
										<option *ngFor = "let region of regions" value="{{region.id}}">{{ region.region_name }}</option>
									</select>
								</div>
							</li>
							<li  class="list-inline-item">
								<div>
									<label class="app-form-label">District</label>
									<select class="form-control app-form-input" [value]="" formControlName="district">
										<option value="">Select District</option>
										<option *ngFor = "let district of districts" value="{{district.id}}">{{ district.district_name }}</option>
									</select>
								</div>
							</li>
							<li  class="list-inline-item">
								<div>
									<label class="app-form-label">Territory</label>
									<select class="form-control app-form-input" [value]="" formControlName="territory">
										<option value="">Select Territory</option>
										<option *ngFor = "let territory of territories" value={{territory.id}}>{{ territory.territory_name }}</option>
									</select>
								</div>
							</li>
							<li  class="list-inline-item">
								<div class="user-filter">
									<button type="submit" class="btn btn-primary app-btn"> Apply </button>
								</div>
							</li>
							<li  class="list-inline-item">
								<button type="button" (click)="onReset()" class="btn btn-success app-btn"> Reset </button>
							</li>
						</ul>
					</form>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col col-xl-12 col-lg-12">
				<div class="app-table-users">
					<table role="table">
						<thead role="rowgroup">
						  <tr role="row">
							<th role="columnheader">Name</th>
							<th role="columnheader">Email</th>
							<th role="columnheader">Employee Code</th>
							<th role="columnheader">Team</th>
							<th role="columnheader">Region</th>
							<th role="columnheader">Districts</th>
							<th role="columnheader">Territories</th>
							<th role="columnheader">Action</th>
						  </tr>
						</thead>
						<tbody role="rowgroup">
						  <tr role="row" *ngFor="let user of users | paginate: { itemsPerPage: 25, currentPage: p }">

							<td role="cell">{{ user.name }}</td>
							<td role="cell">{{ user.email }}</td>
							<td role="cell">{{ user.employee_code }}</td>
							<!-- <td role="cell" *ngIf="user.user_team?.team_name.length > 1">Hybrid</td> -->
							<td role="cell">{{ user.is_multiple_teams == 1 ? "Hybrid" : user.user_team?.team_name }}</td>
							<td role="cell">{{ user.user_region.region_name }}</td>
							<td role="cell">{{ user.user_district == null ? "N/A" : user.user_district.district_name }}</td>
							<td role="cell">{{ user.user_territory == null ? "N/A" : user.user_territory.territory_name }}</td>
							<td role="cell" class="text-center">
								<div class="btn-group" role="group" aria-label="...">
									<button type="button" (click) = editUser(user.id) class="app-icon-btn app-blue-text"><i class="fa fa-pencil-square" aria-hidden="true"></i></button>
									<button type="button" (click) = onDeleteUser(user.id) class="app-icon-btn app-red-text"><i class="fa fa-times" aria-hidden="true"></i></button>
								</div>
							</td>
						  </tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col col-xl-12 col-lg-12">
				<pagination-controls class="my-pagination" (pageChange)="p = $event"></pagination-controls>
				<div class="app-btn-wrapper text-center">
					<button type="button" class="btn btn-outline-danger app-btn" (click)="addUser()">
						<i class="fa fa-plus btn-icon" aria-hidden="true"></i> Add User
					</button>
				</div>	
			</div>
		</div>	
	</div>
</div>
