<div class="app-page-title-wrapper">
    <h2 class="app-page-title">Profile</h2>
    <ul class="list-inline app-breadcumb">
      <li  class="list-inline-item">
          <a href="#">CMP Dashboard - </a>
      </li>
      <li  class="list-inline-item">
        <a href="#">Profile</a>
    </li>
    </ul>
</div>

<div class="row">
    <div class="col-lg-8 mx-auto">
        <div class="app-container">
            <div class="app-user-title">
                <h2>{{ data.name }}</h2>
                <p>{{ data.user_role.role_name }}</p>
            </div>
            <div class="app-profile-content">
                <div class="row">
                    <div class="col-lg-6 col-sm-6">
                        <p><strong>Employee ID: </strong><span class="pl-1">{{ data.employee_code }}</span></p>
                        <p><strong>Email: </strong><span class="pl-1">{{ data.email }}</span></p> 
                        <p><strong>Mobile: </strong><span class="pl-1">{{ data.mobile_no }}</span></p>                  
                        <p><strong>CNIC: </strong><span class="pl-1">{{ data.cnic }}</span></p> 
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="app-team-info">
                            <p><strong>Team: </strong><span class="pl-1">{{ data.user_team.team_name }}</span></p>
                            <p><strong>Region: </strong><span class="pl-1">{{ data.user_region.region_name }}</span></p> 
                            <p><strong>District: </strong><span class="pl-1">{{ data.user_district.district_name }}</span></p>                  
                            <p><strong>Territory: </strong><span class="pl-1">{{ data.user_territory.territory_name }}</span></p> 
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-12">
                        <p><a href="#" class="app-red-text">Change Password</a></p> 
                        <div class="app-form">
                            <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <fieldset class="form-group">
                                            <label class="required app-form-label">New Password</label>
                                            <input class="form-control app-form-input" type="password" placeholder="Password" formControlName="password" />
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-6">
                                        <fieldset class="form-group">
                                            <label class="required app-form-label">Repeat Password</label>
                                            <input class="form-control app-form-input" type="password"  placeholder="Repeat Password" formControlName="repeatPassword" />
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="app-btn-wrapper text-center">
                                    <button type="submit" class="btn btn-danger app-btn">
                                      Change Password
                                    </button>
                                  </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>


