.input-box {
    position: relative;
    // float: right;
    display: table-cell;
}

.input-box input { 
    display: block;
    border: 1px solid #d7d6d6;
    background: #fff;
    padding: 10px 10px 10px 20px;
    width: 195px;
}

.unit { 
    position: absolute;
    display: block;
    left: 140px;
    top: 6px;
    z-index: 9;
}