<div [@routerTransition]>
    <div class="map-container">
      <h4>Patient Information</h4>
      <div class="map-frame">
        <div #mapContainer id="map"></div>
      </div>
    </div>
    <div class="row" class="patientForm">
        <div class="col-lg-6 my-auto">
            <form [formGroup]="patientForm" (ngSubmit)="onSubmit()">
              <fieldset class="form-group">
                <label class="required">Patient Name</label>
                <input class="form-control" formControlName="patientName" />
              </fieldset>
              <fieldset class="form-group">
                <label class="required">Patient Phone #</label>
                <input class="form-control" formControlName="patientPhoneNo" />
              </fieldset>
              <fieldset class="form-group">
                <label class="required">Patient Age</label>
                <input class="form-control" formControlName="patientAge" />
              </fieldset>
              <div class="form-group">
                <label>Gender</label>
                <select class="form-control" formControlName="patientGender">
                  <option selected>Select Option</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                </select>
              </div>
              <fieldset class="form-group" *ngIf = "campType == 1 || campType == 3">
                <label class="required">Patient Blood Pressure</label>
                <div class="input-box">
                  <input class="form-control" placeholder="Diastolic" formControlName="patientDiastolic" />
                  <span class="unit">mmHg</span>
                </div>
                <div class="input-box" style="left:30px;">
                  <input class="form-control"  placeholder="Systolic" formControlName="patientSystolic" />
                  <span class="unit">mmHg</span>
                </div>
              </fieldset>
              <fieldset class="form-group" *ngIf = "campType == 2 || campType == 3">
                <label class="required">Blood Sugar {{ campType }}</label>
                <input class="form-control" formControlName="patientBloodSugar" />
              </fieldset>
              <fieldset class="form-group">
                <label>Drug-1</label>
                <div class="input-box">
                  <select class="form-control" formControlName="companyName1" [(ngModel)] = "optionValue1">
                    <option>Select Option</option>
                    <option value="1">Our Company</option>
                    <option value="2">Other Company</option>
                  </select>
                </div>
                <ng-container *ngIf = "optionValue1 == 2">
                  <div class="input-box" style="left:30px;" >
                    <input class="form-control"  placeholder="Systolic" />
                  </div>
                </ng-container>
                <ng-container *ngIf = "optionValue1 == 1">
                  <div class="input-box" style="left:30px;">
                    <select class="form-control">
                      <option>Select Option</option>
                      <option>Medicine</option>
                      <option>Medicine 2</option>
                    </select>
                  </div>
                </ng-container>
              </fieldset>
              <fieldset class="form-group">
                <label>Drug-2</label>
                <div class="input-box">
                  <select class="form-control" formControlName="companyName2" [(ngModel)] = "optionValue2">
                    <option>Select Option</option>
                    <option value="1">Our Company</option>
                    <option value="2">Other Company</option>
                  </select>
                </div>
                <ng-container *ngIf = "optionValue2 == 2">
                  <div class="input-box" style="left:30px;" >
                    <input class="form-control"  placeholder="Systolic" />
                  </div>
                </ng-container>
                <ng-container *ngIf = "optionValue2 == 1">
                  <div class="input-box" style="left:30px;">
                    <select class="form-control">
                      <option>Select Option</option>
                      <option>Medicine</option>
                      <option>Medicine 2</option>
                    </select>
                  </div>
                </ng-container>
              </fieldset>
              <fieldset class="form-group">
                <label>Drug-3</label>
                <div class="input-box">
                  <select class="form-control" formControlName="companyName3" [(ngModel)] = "optionValue3">
                    <option>Select Option</option>
                    <option value="1">Our Company</option>
                    <option value="2">Other Company</option>
                  </select>
                </div>
                <ng-container *ngIf = "optionValue3 == 2">
                  <div class="input-box" style="left:30px;" >
                    <input class="form-control"  placeholder="Systolic" />
                  </div>
                </ng-container>
                <ng-container *ngIf = "optionValue3 == 1">
                  <div class="input-box" style="left:30px;">
                    <select class="form-control">
                      <option>Select Option</option>
                      <option>Medicine</option>
                      <option>Medicine 2</option>
                    </select>
                  </div>
                </ng-container>
              </fieldset>
              <fieldset class="form-group">
                <label>Drug-4</label>
                <div class="input-box">
                  <select class="form-control" formControlName="companyName4" [(ngModel)] = "optionValue4">
                    <option>Select Option</option>
                    <option value="1">Our Company</option>
                    <option value="2">Other Company</option>
                  </select>
                </div>
                <ng-container *ngIf = "optionValue4 == 2">
                  <div class="input-box" style="left:30px;" >
                    <input class="form-control"  placeholder="Systolic" />
                  </div>
                </ng-container>
                <ng-container *ngIf = "optionValue4 == 1">
                  <div class="input-box" style="left:30px;">
                    <select class="form-control">
                      <option>Select Option</option>
                      <option>Medicine</option>
                      <option>Medicine 2</option>
                    </select>
                  </div>
                </ng-container>
              </fieldset>
              <fieldset class="form-group">
                <label>Drug-5</label>
                <div class="input-box">
                  <select class="form-control" formControlName="companyName5" [(ngModel)] = "optionValue5">
                    <option>Select Option</option>
                    <option value="1">Our Company</option>
                    <option value="2">Other Company</option>
                  </select>
                </div>
                <ng-container *ngIf = "optionValue5 == 2">
                  <div class="input-box" style="left:30px;" >
                    <input class="form-control"  placeholder="Systolic" />
                  </div>
                </ng-container>
                <ng-container *ngIf = "optionValue5 == 1">
                  <div class="input-box" style="left:30px;">
                    <select class="form-control">
                      <option>Select Option</option>
                      <option>Medicine</option>
                      <option>Medicine 2</option>
                    </select>
                  </div>
                </ng-container>
              </fieldset>
              <button type="submit" class="btn btn-success" [disabled]="!patientForm.valid">
                Save Patient Record
              </button>
            </form>
        </div>
    </div>
  </div>
  