/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";
@import '~ngx-toastr/toastr';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~open-iconic/font/css/open-iconic-bootstrap.css';

@media print {
    .breadcrumb {
        display: none !important;
    }
}



/* =======================================*/
/*              APP Colors                */
/* =======================================*/

$red:               #ED3237;
$yellow:            #E68133;
$blue:              #11838F;
$light-blue:        #CCDFE5;
$light-sky-blue:    #F7FAFC;
$grey:              #A2A0A0;
$dark-grey:         #83888A;
$light-grey:        #F5F5F5;
$shadow-light-grey: #e4e4e4;
$pink:              #D91E51;
$white:             #FFFFFF;


body{
    background-color: $light-grey;
}

/* =======================================*/
/*              APP Headings              */
/* =======================================*/

.app-main-heading{
    font-size: 26px !important;
    font-weight: bold !important;
}

/* =======================================*/
/*              APP Buttons               */
/* =======================================*/

.app-btn{
    border-radius: 0px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}
.red-btn{
    background-color: $red !important;
}
.btn-icon{
    padding-right: 10px;
}

/* =======================================*/
/*              APP Forms               */
/* =======================================*/

/* =============== App Login Form ================*/

.input-transparent{
    background: none;
    color: $white !important;
    padding-left: 40px !important;
}

.app-login-wrapper{

    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
    border: 1px solid $white;
    -webkit-text-fill-color: $white;
    transition: background-color 5000s ease-in-out 0s;
    background: none;
    }
    .input-icon-username{
        background: url('../assets/images/icons/email-icon.png') no-repeat scroll 15px 15px;
        padding-left:30px;
    }
    .input-icon-password{
        background: url('../assets/images/icons/password-icon.png') no-repeat scroll 15px 15px;
        padding-left:30px;
    }
}

/* =============== App Form================*/
.app-form{
    background-color: $white;
    padding: 30px;
    border-radius: 10px;
    .app-form-label{
        font-size: 13px;
        font-weight: bold;
        color: $dark-grey;
    }
    .app-form-input{
        background-color: $light-sky-blue;
        border-radius: 0;
        box-shadow: 0px 4px 5px $shadow-light-grey;
        border: none;
        height: 45px !important;
    }
    .form-button-wrapper{
        padding: 60px 10px 10px 10px;
        text-align: center;
    }
}
/* =======================================*/
/*              APP Utilities             */
/* =======================================*/


.app-uppercase{
    text-transform: uppercase;
}
.app-white-text{
    color:$white;
}
.app-link-grey{
    color: $grey;
    font-size: 14px;
    font-style: italic;
    &:hover{
        color: $white;
    }
}
.app-top-0{
    top:0 !important;
}


/* =======================================*/
/*             App Components             */
/* =======================================*/

/* =============== Topbar ================*/

.app-top-bar{
    background-color: $pink;
    margin-left: 235px;
    padding: 15px;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    overflow: hidden;
    height: 250px;
    .dropdown-toggle::after{
        color: $white !important;
    }
}
.app-user-title{
   color:$white;
   font-size: 20px;
   font-weight: 100;
}
.app-navbar-right{
    color: $white;
    font-size: 14px;
    font-weight: bold;
    padding-left: 5px;
}
.app-navbar{
    background-color: $pink !important;
}
.app-toggle-icon{
    cursor: pointer;
}

/* =============== Page title & Breadcumb ================*/

.app-page-title-wrapper{
    margin-bottom: 100px;
    text-align: center;
}
.app-page-title{
    color: $white;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}
.app-breadcumb{
    list-style-type: none;
    a{
        color:$light-grey;
        font-size: 14px;
        &:hover{
            color:$white;
            text-decoration: none;
        }
    }
}

/* =============== Page Sidebar ================*/
.app-sidebar-header{
    padding:20px 10px;
}
.sidebar-app-logo{
    width: 110px;
    height: 110px;
    background-image: url('../assets/icons/icon-384x384.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.sidebar-app-name{
    color: $white;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}
.sidebar-icon{
    width: 20px;
}
.sidebar-link{
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
}

/* =======================================*/
/*             App Views                  */
/* =======================================*/


/* =============== Login View ===============*/

.app-login-background{
    background-image: url('../assets/images/login-background.jpg') !important;
    background-repeat: no-repeat !important;
    background-size: cover  !important;
}
.app-login-wrapper{
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}
.app-login-footer{
    margin: 20px 10px;
}
.footer-logo{
    width: 100%;
    max-width: 100px;
    margin-top: 30px;
}