/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";
@import '~ngx-toastr/toastr';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~open-iconic/font/css/open-iconic-bootstrap.css';

@media print {
    .breadcrumb {
        display: none !important;
    }
}



/* =======================================*/
/*              APP Colors                */
/* =======================================*/

$black:             #212529;
$red:               #ED3237;
$yellow:            #E68133;
$blue:              #11838F;
$light-blue:        #CCDFE5;
$sky-blue:          #e2e9ff;
$light-sky-blue:    #F7FAFC;
$grey:              #A2A0A0;
$dark-grey:         #83888A;
$light-grey:        #F5F5F5;
$shadow-light-grey: #e4e4e4;
$shadow-white:      #efeaea;
$pink:              #D91E51;
$white:             #FFFFFF;
$green:             #1f7e1e;


body{
    background-color: $light-grey;
}

/* =======================================*/
/*              APP Headings              */
/* =======================================*/

.app-main-heading{
    font-size: 26px !important;
    font-weight: bold !important;
}
.app-sub-heading{
    font-size: 18px !important;
}

/* =======================================*/
/*              APP Buttons               */
/* =======================================*/

.app-btn{
    border-radius: 0px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 20px;
}
.app-btn-small{
    font-size: 12px !important;
    padding: 2px 10px !important;
}
.red-btn{
    background-color: $red !important;
}
.btn-icon{
    padding-right: 10px;
}
.app-icon-btn{
    border:none;
    background: none;
}
.app-btn-wrapper{
    margin-top:40px;
}
.app-back-btn-wrapper{
    margin-top: 40px;
    text-align: left;
}

/* =======================================*/
/*              APP Forms               */
/* =======================================*/

/* =============== App Login Form ================*/

.input-transparent{
    background: none;
    color: $white !important;
    padding-left: 40px !important;
}

.app-login-wrapper{

    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
    border: 1px solid $white;
    -webkit-text-fill-color: $white;
    transition: background-color 5000s ease-in-out 0s;
    background: none;
    padding:0 10px !important;
    }
    .input-icon-username{
        background: url('../assets/images/icons/email-icon.png') no-repeat scroll 15px 15px;
        padding:0 40px !important;
        font-size: 16px !important;
        font-weight: 700;
        letter-spacing: 1px;
        &:focus{
            background: none;
            padding:0 10px !important;
        }
    }
    .input-icon-password{
        background: url('../assets/images/icons/password-icon.png') no-repeat scroll 15px 15px;
        padding:0 40px !important;
        font-size: 16px !important;
        font-weight: 700;
        letter-spacing: 1px;
        &:focus{
            background: none;
            padding:0 10px !important;
        }
    }
}

/* =============== App Form================*/
.app-form{
    background-color: $white;
    padding: 30px;
    border-radius: 10px;
    select { 
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-image: url('../assets/images/icons/selectbox-arrow.png');
        background-repeat: no-repeat;
        background-position:96% center ;
    }
    .app-form-label{
        font-size: 13px;
        font-weight: bold;
        color: $dark-grey;
    }
    .app-form-input{
        background-color: $light-sky-blue;
        border-radius: 0;
        box-shadow: 0px 4px 5px $shadow-light-grey;
        border: none;
        height: 45px !important;
        font-size: 14px;
    }
    .form-button-wrapper{
        padding: 60px 10px 10px 10px;
        text-align: center;
    }
    .app-form-input-light{
        background-color: $sky-blue;
        box-shadow: none;
    }
    .app-unit{
        top: 12px !important;
        font-size: 14px;
        color: $grey;
        font-weight: bold;
    }
}

/* =============== App Filter Form================*/

.app-filter-form{
    background-color: $light-grey;
    padding: 20px;
    text-align: center;
    .app-form-label{
        font-size: 13px;
        font-weight: bold;
        color: $dark-grey;
    }
    .app-form-input{
        background-color: $light-sky-blue;
        border-radius: 0;
        height: 45px !important;
        width: 150px;
        margin-bottom: 10px;
        font-size: 14px;
    }
    .app-form-wide-input{
        width: 270px;
    }
    select { 
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-image: url('../assets/images/icons/selectbox-arrow.png');
        background-repeat: no-repeat;
        background-position:96% center ;
    }
}

/* =======================================*/
/*              APP Table View            */
/* =======================================*/

.app-table-view{
    background-color: $white;
    padding: 10px;
    border-radius: 10px;
    h3{
        font-size: 18px;
        text-align: center;
        padding: 30px 10px;
    }
}

/* =============== App Table Camps ================*/

.app-table-camps{
    table{
        width: 100%;
    }
    th{
        font-size: 14px;
        font-weight: bold;
        color: $blue;
        background-color: $light-blue;
        padding:5px 10px;
    }
    td{
        font-size: 13px;
        
        padding:5px 5px;
    }
    tr:nth-child(even) {
        background: $light-sky-blue;
      }
/*
	Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
	*/
	@media
	  only screen 
    and (max-width: 760px), (min-device-width: 768px) 
    and (max-device-width: 1024px)  {

		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr {
            display: block;
            font-size: 14px;
		}

		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

    tr {
      margin: 0 0 1rem 0;
    }
      
    tr:nth-child(odd) {
      background:$light-sky-blue;
    }
    
		td {
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee;
			position: relative;
            padding-left: 50%;
            text-align: left;
		}

		td:before {
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 5px;
			left: 6px;
			width: 45%;
			padding-right: 10px;
            white-space: nowrap;
            font-weight: bold;
		}

		/*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
		td:nth-of-type(1):before { content: "SPO Name"; }
		td:nth-of-type(2):before { content: "Team"; }
		td:nth-of-type(3):before { content: "Region"; }
		td:nth-of-type(4):before { content: "District"; }
		td:nth-of-type(5):before { content: "Territory"; }
		td:nth-of-type(6):before { content: "Camp Type"; }
		td:nth-of-type(7):before { content: "Dr Name"; }
		td:nth-of-type(8):before { content: "Camp Date/Time"; }
		td:nth-of-type(9):before { content: "Camp Status"; }
		td:nth-of-type(10):before { content: "Edit/Approve"; }
    }
}

/* =============== App Table Users ================*/
.app-table-users{
    table{
        width: 100%;
    }
    th{
        font-size: 14px;
        font-weight: bold;
        color: $blue;
        background-color: $light-blue;
        padding:5px 10px;
    }
    td{
        font-size: 13px;
        
        padding:5px 5px;
    }
    tr:nth-child(even) {
        background: $light-sky-blue;
      }
/*
	Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
	*/
	@media
	  only screen 
    and (max-width: 760px)  {

		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr {
            display: block;
            font-size: 14px;
		}

		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

    tr {
      margin: 0 0 1rem 0;
    }
      
    tr:nth-child(odd) {
      background:$light-sky-blue;
    }
    
		td {
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee;
			position: relative;
            padding-left: 50%;
            text-align: left;
		}

		td:before {
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 5px;
			left: 6px;
			width: 45%;
			padding-right: 10px;
            white-space: nowrap;
            font-weight: bold;
		}

		/*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
		td:nth-of-type(1):before { content: "Name"; }
		td:nth-of-type(2):before { content: "Email"; }
		td:nth-of-type(3):before { content: "Employee Code"; }
		td:nth-of-type(4):before { content: "Region"; }
		td:nth-of-type(10):before { content: "Action"; }
    }
}

/* =============== App Table Patients ================*/
.app-table-patients{
    table{
        width: 100%;
    }
    th{
        font-size: 14px;
        font-weight: bold;
        color: $blue;
        background-color: $light-blue;
        padding:5px 10px;
    }
    td{
        font-size: 13px;
        
        padding:5px 5px;
    }
    tr:nth-child(even) {
        background: $light-sky-blue;
      }
/*
	Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
	*/
	@media
	  only screen 
    and (max-width: 760px)  {

		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr {
            display: block;
            font-size: 14px;
		}

		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

    tr {
      margin: 0 0 1rem 0;
    }
      
    tr:nth-child(odd) {
      background:$light-sky-blue;
    }
    
		td {
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee;
			position: relative;
            padding-left: 50%;
            text-align: left;
		}

		td:before {
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 5px;
			left: 6px;
			width: 45%;
			padding-right: 10px;
            white-space: nowrap;
            font-weight: bold;
		}

		/*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
		td:nth-of-type(1):before { content: "Patient Name"; }
		td:nth-of-type(2):before { content: "Patient Contact"; }
		td:nth-of-type(3):before { content: "Gender"; }
    }
}
/* =============== App Table Doctors ================*/
.app-table-doctors{
    table{
        width: 100%;
    }
    th{
        font-size: 14px;
        font-weight: bold;
        color: $blue;
        background-color: $light-blue;
        padding:5px 10px;
    }
    td{
        font-size: 13px;
        
        padding:5px 5px;
    }
    tr:nth-child(even) {
        background: $light-sky-blue;
      }
/*
	Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
	*/
	@media
	  only screen 
    and (max-width: 760px) {

		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr {
            display: block;
            font-size: 14px;
		}

		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

    tr {
      margin: 0 0 1rem 0;
    }
      
    tr:nth-child(odd) {
      background:$light-sky-blue;
    }
    
		td {
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee;
			position: relative;
            padding-left: 50%;
            text-align: left;
		}

		td:before {
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 5px;
			left: 6px;
			width: 45%;
			padding-right: 10px;
            white-space: nowrap;
            font-weight: bold;
		}

		/*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
		td:nth-of-type(1):before { content: "Doctor Name"; }
		td:nth-of-type(2):before { content: "Doctor Code "; }
		td:nth-of-type(3):before { content: "Doctor Contact"; }
    }
}
/* =============== App Table Approved Camps ================*/
.app-table-approved-camps{
    table{
        width: 100%;
    }
    th{
        font-size: 14px;
        font-weight: bold;
        color: $blue;
        background-color: $light-blue;
        padding:5px 10px;
    }
    td{
        font-size: 13px;
        
        padding:5px 5px;
    }
    tr:nth-child(even) {
        background: $light-sky-blue;
      }
/*
	Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
	*/
	@media
	  only screen 
    and (max-width: 760px) {

		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr {
            display: block;
            font-size: 14px;
		}

		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

    tr {
      margin: 0 0 1rem 0;
    }
      
    tr:nth-child(odd) {
      background:$light-sky-blue;
    }
    
		td {
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee;
			position: relative;
            padding-left: 50%;
            text-align: left;
		}

		td:before {
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 5px;
			left: 6px;
			width: 45%;
			padding-right: 10px;
            white-space: nowrap;
            font-weight: bold;
		}

		/*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
		td:nth-of-type(1):before { content: "Doctor Type"; }
		td:nth-of-type(2):before { content: "Doctor Name "; }
		td:nth-of-type(3):before { content: "Action"; }
    }
}

/* =======================================*/
/*              APP Utilities             */
/* =======================================*/


.app-uppercase{
    text-transform: uppercase;
}
.app-white-text{
    color:$white;
}
.app-red-text{
    color: $red;
}
.app-blue-text{
    color: $blue;
}
.app-grey-text{
    color: $dark-grey;
}
.app-link-grey{
    color: $grey;
    font-size: 14px;
    font-style: italic;
    &:hover{
        color: $white;
    }
}
.app-top-0{
    top:0 !important;
}
.bg-light-grey{
    background-color: $light-grey;
}
.bg-blue{
    background-color: $blue;
}
.bg-red{
    background-color: $red;
}
.bg-yellow{
    background-color: $yellow;
}
.bg-green{
    background-color: $green;
}
.small-text{
    font-size: 12px;
}

/* =======================================*/
/*             App Components             */
/* =======================================*/

/* =============== Topbar ================*/

.app-top-bar{
    background-color: $pink;
    margin-left: 235px;
    padding: 15px;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    overflow: hidden;
    height: 250px;
    .dropdown-toggle::after{
        color: $white !important;
    }
}
.app-user-title{
   color:$white;
   font-size: 20px;
   font-weight: 100;
}
.app-top-bar-right{
    position: absolute;
    z-index: 1;
    right: 30px;
    top: 25px;
}
.app-top-bar-list{
    flex-direction: row;
}
.app-navbar-right{
    color: $white;
    font-size: 14px;
    font-weight: bold;
    padding-left: 5px;
}
.app-badge{
    position: absolute;
    top: 5px;
    left: -12px;
}
.app-dropdown-item{
    font-size: 14px;
}
.app-navbar{
    background-color: $pink !important;
}
.app-toggle-icon{
    cursor: pointer;
}

/* =============== Page title & Breadcumb ================*/

.app-page-title-wrapper{
    margin-bottom: 100px;
    text-align: center;
}
.app-page-title{
    color: $white;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}
.app-breadcumb{
    list-style-type: none;
    a{
        color:$light-grey;
        font-size: 14px;
        &:hover{
            color:$white;
            text-decoration: none;
        }
    }
}

/* =============== Page Sidebar ================*/
.app-sidebar-header{
    padding:20px 10px;
}
.sidebar-app-logo{
    width: 110px;
    height: 110px;
    background-image: url('../assets/icons/icon-384x384.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.sidebar-app-name{
    color: $white;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}
.app-sidebar-subitems{
    padding:0 5px;
    .sidebar-link{
        padding:5px 0 5px 30px;
        font-weight: 500;
    }
}
.sidebar-down-arrow{
    position: absolute;
    top:15px;
    right:0px;
}
.sidebar-icon{
    width: 20px;
}
.app-sidebar-icon{
    margin-right: 10px;
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    display: inline-block;
    height: 15px;
}
.app-icon-dashboard{
    background-image: url('../assets/images/icons/dashboard.png');
}
.app-icon-users{
    background-image: url('../assets/images/icons/users.png');
}

.app-icon-camps{
    background-image: url('../assets/images/icons/camps.png');
}
.app-icon-patients{
    background-image: url('../assets/images/icons/patients.png');
}

.app-icon-doctors{
    background-image: url('../assets/images/icons/doctors.png');
}

.app-icon-profile{
    background-image: url('../assets/images/icons/profile.png');
}
.app-icon-logout{
    background-image: url('../assets/images/icons/logout.png');
}
.app-icon-add-camp{
    background-image: url('../assets/images/icons/add-camp.png');
}
.app-icon-camp-requests{
    background-image: url('../assets/images/icons/camp-request.png');
}
.app-icon-current-camps{
    background-image: url('../assets/images/icons/current-camps.png');
}
.app-icon-previous-camps{
    background-image: url('../assets/images/icons/previous-camps.png');
}
.app-icon-future-camps{
    background-image: url('../assets/images/icons/future-camps.png');
}
.sidebar-link{
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
}

/* =============== App Cards ===============*/

.app-cards-container{
    width:100%;
    max-width: 900px;
    margin:-80px auto 40px auto;
    .app-card{
        border-radius: 5px !important;
        padding: 20px;
        cursor: pointer;
        border: none;
        box-shadow: 1px 5px 8px $shadow-white;
        position: relative;
        margin-bottom: 5px;
    }
    .main-label{
        color:$black;
        font-size: 20px;
    }
    .report-main-label{
        color:$black;
        font-size: 16px;
    }
    .small-label{
        color:$black;
        font-size: 14px;
    }
    .app-card-left{
        position: absolute;
        left: 115px;
    }
    .app-card-right{
        right: 0;
        width: 20%;
    }
    .card-bg{
        background-color: $blue !important;
    }
    .card-icon-wrapper{
        border-radius: 100px;
        padding: 14px 0;
        color: $white;
        width: 80px;
        height: 80px;
        text-align: center;
    }
    .card-icon{
        font-size: 40px !important;
    }
    .card-count{
        font-size: 22px;
        font-weight: 700;
    }
    .card-icon-adjust{
        height: 5px;
        display: table-row;
    }
}
.app-cards-container-middle{
    margin:20% auto 40px auto;
}


/* =======================================*/
/*             App Views                  */
/* =======================================*/

.app-container{
    background-color: $white;
    padding: 30px;
    border-radius: 10px;
}
.app-highlight-area{
    background-color: $light-blue;
    position: relative;
    padding: 20px;
    border-radius: 10px;
    .app-form-label{
        color:$dark-grey !important;
    }
    .app-form-input{
        box-shadow: none;
    }
    .app-sub-heading{
        font-size: 18px;
        font-weight: 600;
        color: $blue;
        margin-bottom: 20px;
    }
}

/* =============== Login View ===============*/

.app-login-background{
    background-image: url('../assets/images/login-background.jpg') !important;
    background-repeat: no-repeat !important;
    background-size: cover  !important;
}
.app-login-wrapper{
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}
.app-login-footer{
    margin: 20px 10px;
}
.footer-logo{
    width: 100%;
    max-width: 100px;
    margin-top: 30px;
}

/* =============== Profile View ===============*/

.app-user-title{
    text-align: center;
    h2{
        font-size: 26px;
        font-weight: 700;
        color: $pink;
    }
    p{
        font-size: 16px;
        font-weight: 100;
        color: $dark-grey;
    }
}
.app-profile-content{
    color:$dark-grey;
    font-size: 14px;
    margin-top: 30px;
    p{
        margin-bottom: 5px;
    }
}
.app-team-info{
    background-color: $light-grey;
    padding:10px;
    border-radius: 5px;
}
.test-class{
    color:$blue;
}
/* =======================================*/
/*       App Responsive Settings          */
/* =======================================*/

@include media-breakpoint-down(xs) {
    .navbar-toggler{
        padding: 0;
    }
    .app-user-title{
        font-size: 16px;
    }
    .app-page-title{
        font-size: 24px;
    }  
    .app-table-view{
        padding: 0px !important;
    }
    .app-user-title h2{
        font-size: 20px;
    }
    .app-user-title p {
        font-size: 12px;
        font-weight: 600;
    }
    .app-breadcumb a{
        font-size: 12px;
    }
    .app-sub-heading {
        font-size: 12px !important;
    }
    .app-btn-small{
        margin: 12px 0;
    }
    .app-filter-form{
        .app-form-input{
            width: 270px;
        }
    } 
    .app-filter-form .app-form-input{
        width:250px;
    }
    .app-table-approved-camps td:before{
        left:20px !important;
    }
    .app-table-camps td:before{
        left:20px !important;
    }
    .app-table-users td:before{
        left:20px !important;
    }
    .app-table-patients td:before{
        left:20px !important;
    }
    .app-table-doctors td:before{
        left:20px !important;
    }
    .app-top-bar-right{
        left:30px !important;
        top:18px !important;
    }
    .app-user-title{
        // visibility: hidden;
    }
}
@include media-breakpoint-down(sm) { 
    
    .app-table-camps td:before{
        left:150px;
    }
    .app-table-users td:before{
        left:150px;
    }
    .app-table-patients td:before{
        left:100px;
    }
    .app-table-doctors td:before{
        left:150px;
    }
   
    .app-table-view{
        padding: 20px;
    }
    .app-filter-form .app-form-input{
        width:210px;
    }
    .app-top-bar-right{
        right:95px;
        top:20px;
        margin-top: 30px;
    }
}
@include media-breakpoint-down(md) { 
    .app-table-view{
        padding: 20px;
    }
    .app-table-camps td:before{
        left:24%;
    }
    .app-table-users td:before{
        left:24%;
    }
    .app-table-approved-camps td:before{
        left:24%;
    }
    .app-table-patients td:before{
        left:24%;
    }
    .app-table-doctors td:before{
        left:24%;
    }
 }
 
@include media-breakpoint-down(lg) { 
    .app-table-view{
        padding: 20px;
    }   
    .app-table-camps td:before{
        left:24%;
    }
 }

@media
	  only screen 
    and (max-width: 760px), (min-device-width: 768px) 
    and (max-device-width: 1024px){
        .app-top-bar{
            margin-left: 0px;
        }
    }