<div [@routerTransition]>
    <div class="app-page-title-wrapper">
        <h2 class="app-page-title">Dashboard</h2>
        <ul class="list-inline app-breadcumb">
            <li  class="list-inline-item">
                <a href="#">CMP Dashboard</a>
            </li>
        </ul>
    </div>
    <div class="app-cards-container">    
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <app-stat 
                    [bgClass]="'card-bg'"
                    [bgIcon]="'bg-yellow'"  
                    [icon]="'fa-tasks'"
                    [label]="'Requests'"
                    [smallLabel]="'Camp'" 
                    [iconImage]="'camp-requests-icon'"
                    [customClass]="'card-icon-adjust'"
                    [data]="'Click here to view camp information'"
                    (click)="requestedCamps()"
                    >
                </app-stat>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <app-stat 
                    [bgClass]="'card-bg'" 
                    [bgIcon]="'bg-blue'"
                    [icon]="'fa-stethoscope '" 
                    [label]="'information'"
                    [smallLabel]="'Doctors'" 
                    [iconImage]="'doctors-icon'"
                    [customClass]="'card-icon-adjust'"
                    [data]="'Click here to view doctor details'"
                    (click)="onDoctors()"
                    >
                </app-stat>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <app-stat 
                    [bgClass]="'card-bg'" 
                    [bgIcon]="'bg-red'"
                    [icon]="'fa-heartbeat'" 
                    [label]="'Details'"
                    [smallLabel]="'Patient'" 
                    [iconImage]="'patients-icon'"
                    [data]="'Click here to view patient details'"
                    (click)="onPatients()"
                    >
                </app-stat>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                <app-report 
                    [bgClass]="'card-bg'"
                    [bgIcon]="'bg-red'"
                    [icon]="'fa-heartbeat'"
                    [label]="'Strips'"
                    [smallLabel]="'Camp'" 
                    [customClass]="'card-icon-adjust'"
                    [iconImage]="'patients-icon'"
                    [data]="'Total :'"
                    [count]=(reportsData?.total_slips)
                    >
                </app-report>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                <app-report 
                    [bgClass]="'card-bg'"
                    [bgIcon]="'bg-red'"
                    [icon]="'fa-heartbeat'"
                    [label]="'Total'"
                    [smallLabel]="'Camp'" 
                    [customClass]="'card-icon-adjust'"
                    [iconImage]="'patients-icon'"
                    [data]="'Total :'"
                    [count]=(reportsData?.ready_camps+reportsData?.started_camps+reportsData?.completed_camps+reportsData?.canceled_camps)
                    >
                </app-report>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                <app-report 
                    [bgClass]="'card-bg'"
                    [bgIcon]="'bg-red'"
                    [icon]="'fa-heartbeat'"
                    [label]="'Completed'"
                    [smallLabel]="'Camp'"
                    [customClass]="'card-icon-adjust'"
                    [iconImage]="'patients-icon'"
                    [data]="'Total :'"
                    [count]=(reportsData?.completed_camps)
                    >
                </app-report>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                <app-report 
                    [bgClass]="'card-bg'"
                    [bgIcon]="'bg-red'"
                    [icon]="'fa-heartbeat'"
                    [label]="'Canelled'"
                    [smallLabel]="'Camp'"
                    [customClass]="'card-icon-adjust'"
                    [iconImage]="'patients-icon'"
                    [data]="'Total :'"
                    [count]=(reportsData?.canceled_camps)
                    >
                </app-report>
            </div>
        </div>   
    </div>
    <div class="row">
        <div class="col-md-12">
            <app-maps></app-maps>
        </div>
    </div>
</div>
