<div class="app-page-title-wrapper">
    <h2 class="app-page-title">Dashboard</h2>
    <ul class="list-inline app-breadcumb">
      <li  class="list-inline-item">
          <a href="#">CMP Dashboard</a>
      </li>
    </ul>
</div>
<div class="app-cards-container app-cards-container-middle">    

    <div class="row">
        <!-- <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'warning'" [icon]="'fa-tasks'" [count]="12" [label]="'New task!'" ></app-stat>
        </div> -->
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <app-stat 
                [bgClass]="'card-bg'" 
                [icon]="'fa-plus'" 
                [label]="'Camp'" 
                [smallLabel]="'Add a'" 
                [iconImage]="'add-camp-icon'" 
                [bgIcon]="'bg-green'"
                [data]="'Click here to add a camp'"
                (click)="spoCreateCamp()"
                >
            </app-stat>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <app-stat 
                [bgClass]="'card-bg'" 
                [icon]="'fa-undo'" 
                (click)="onPastCamps()" 
                [label]="'Camps'" 
                [smallLabel]="'Previous'" 
                [iconImage]="'previous-camps-icon'"
                [bgIcon]="'bg-yellow'"
                [data]="'Click here to view previous camps'"
                >
            </app-stat>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <app-stat 
                [bgClass]="'card-bg'" 
                [icon]="'fa-gg'" 
                (click)="onAssignedCamps()" 
                [label]="'Camps'"
                [smallLabel]="'Current'" 
                [iconImage]="'current-camps-icon'"
                [bgIcon]="'bg-red'"
                [data]="'Click here to view current camps'" 
                >
            </app-stat>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <app-stat 
                [bgClass]="'card-bg'" 
                [icon]="'fa-share'" 
                (click)="onFutureCamps()" 
                [label]="'Camps'"
                [smallLabel]="'Future'"
                [iconImage]="'future-camps-icon'" 
                [bgIcon]="'bg-blue'"
                [data]="'Click here to view Future camps'"
                >
            </app-stat>
        </div>
    </div>
</div>