<div [@routerTransition]>
	<ngx-spinner
    bdOpacity = 0.9
    bdColor = "#333"
    size = "medium"
    color = "#fff"
    type = "ball-newton-cradle"
    [fullScreen] = "true">
	<p style="color: white" > Loading... </p>
	</ngx-spinner>
  <!--app-page-header [heading]="'Camps'" [icon]="'fa-users'"></app-page-header-->
	<div class="app-page-title-wrapper">
		<h2 class="app-page-title">Camps</h2>
		<ul class="list-inline app-breadcumb">
			<li  class="list-inline-item">
				<a href="#">CMP Dashboard -</a>
			</li>
			<li  class="list-inline-item">
				<a href="#">Camps</a>
			</li>
		</ul>
	</div>
	<div class="app-cards-container">    
        <div class="row">
            
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                <!-- <app-stat 
                    [bgClass]="'card-bg'"
                    [bgIcon]="'bg-blue'" 
                    [icon]="'fa-undo'" 
                    [label]="'Camps'"
					[smallLabel]="'Previous'" 
					[iconImage]="'previous-camps-icon'"
					[data]="'Click here to view camp information'"
					(click)="onPastCamps()"
                    >                  
                </app-stat> -->
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <app-stat 
                    [bgClass]="'card-bg'" 
                    [bgIcon]="'bg-red'"
                    [icon]="'fa-stethoscope '" 
                    [label]="'Camps'"
					[smallLabel]="'Current'" 
					[iconImage]="'current-camps-icon'"
                    [data]="'Click here to view doctor details'" 
                    >
                </app-stat>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <app-stat 
                    [bgClass]="'card-bg'"
                    [bgIcon]="'bg-yellow'"  
                    [icon]="'fa-tasks'"
                    [label]="'Camps'"
					[smallLabel]="'Future'" 
					[iconImage]="'future-camps-icon'"
					[data]="'Click here to view camp information'"
					(click)="onFutureCamps()"
                    >
                </app-stat>
            </div>
            <!-- <div class="col-xl-3 col-lg-6">
                <app-stat [bgClass]="'danger'" [icon]="'fa-support'" [count]="1" [label]="'New Tickets!'"></app-stat>
            </div> -->
        </div>  
    </div>
	<div class="app-table-view">
		<div class="row">
			<div class="col col-md-12">
				<div class="app-filter-form">
					<!-- Filters -->
					<form [formGroup]="campFilter" (ngSubmit)="onSubmit()">
						<ul class="list-inline app-filters">
							<li  class="list-inline-item">
								<div>
									<label class="app-form-label">Doctor Name</label>
									<input class="form-control app-form-input app-form-wide-input" formControlName="doctorName" placeholder="Filter by Doctor Name" />
								</div>
							</li>
							<li  class="list-inline-item">
								<div>
									<label class="app-form-label">Camp Type</label>
									<select class="form-control app-form-input" [value]="" formControlName="campType">
										<option value="">Camp Type</option>
										<option value="1">Cardio Camp</option>
										<option value="2">Diabetic Camp</option>
										<option value="3">Cardio/Diabetic Camp</option>
									</select>
								</div>
							</li>
							<li  class="list-inline-item">
								<div>
									<label class="app-form-label">Camp Status</label>
									<select class="form-control app-form-input" [value]="" formControlName="campStatus">
										<option value="">Select Camp</option>
										<option value="0">Pending</option>
										<option value="1">Approved</option>
										<option value="2">Close</option>
									</select>
								</div>
							</li>
							<li  class="list-inline-item">
								<div>
									<label class="app-form-label">Camp Duration</label>
									<select class="form-control app-form-input" [value]="" formControlName="campDuration">
										<option value="">Select Duration</option>
										<option value="present">Present</option>
										<option value="previous">Previous</option>
										<option value="future">Future</option>
									</select>
								</div>
							</li>
							<li  class="list-inline-item">
								<div *ngIf = "previous == 'previousCamps' || future == 'futureCamps'">
									<label class="app-form-label">Start Date</label>
									<input type="date" class="form-control app-form-input" formControlName="startDate" />
								</div>
							</li>
							<!-- <li  class="list-inline-item">
								<div *ngIf = "previous == 'previousCamps' || future == 'futureCamps'">
									<label class="app-form-label">End Date</label>
									<input type="date" class="form-control app-form-input" formControlName="endDate" />
								</div>
							</li> -->
							<li  class="list-inline-item">
								<div class="camp-filter">
									<button type="submit" class="btn btn-primary app-btn"> Apply </button>
								</div>
							</li>
							<li  class="list-inline-item">
								<div >
									<button type="button" (click)="onReset()" class="btn btn-success app-btn"> Reset </button>
								</div>
							</li>
							<li  class="list-inline-item">
								<div >
									<button type="button" (click)="onDownloadExcel()" class="btn btn-success app-btn"> Download Excel </button>
								</div>
							</li>
						</ul>
					</form>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col col-xl-12 col-lg-12">
				<div class="app-table-camps">
					<table role="table">
						<thead role="rowgroup">
						  <tr role="row">
							<th role="columnheader">SPO Name</th>
							<th role="columnheader">Team</th>
							<th role="columnheader">Region</th>
							<th role="columnheader">District</th>
							<th role="columnheader">Territory</th>
							<th role="columnheader">Camp Type</th>
							<th role="columnheader">Dr Name</th>
							<th role="columnheader">Camp Date/Time</th>
							<th role="columnheader">Camp Status</th>
							<th role="columnheader" *ngIf = "!previous && !future">Approve/Edit</th>
						  </tr>
						</thead>
						<tbody role="rowgroup">
						  <tr role="row" *ngFor="let camp of camps">
							<td role="cell">{{ camp.user.name }}</td>
							<td role="cell">{{ camp.user.user_team.team_name }}</td>
							<td role="cell">{{ camp.user.user_region.region_name }}</td>
							<td role="cell">{{ camp.user.user_district.district_name }}</td>
							<td role="cell">{{ camp.user.user_territory.territory_name }}</td>
							<td role="cell" *ngIf="camp.camp_type == 1">Cardio Camp</td>
							<td role="cell" *ngIf="camp.camp_type == 2">Diabetic Camp</td>
							<td role="cell" *ngIf="camp.camp_type == 3">Cardio/Diabetic Camp</td>
							<td role="cell" *ngIf="camp.camp_type == 4">Biothesiometry Camp</td>
							<td role="cell">{{ camp.dr_name }}</td>
							<td role="cell">{{ camp.camp_datetime | date: 'medium' }}</td>
							<td role="cell" *ngIf="camp.camp_status == 0">Pending</td>
							<td role="cell"  *ngIf="camp.camp_status == 1">Approved</td>
							<td role="cell" *ngIf = "!previous && !future" class="text-center">
								<div class="btn-group" role="group" aria-label="...">
									<button type="button" (click)="viewCamp(camp.id)" class="app-icon-btn app-blue-text"><i class="fa fa-pencil-square" aria-hidden="true"></i></button>
									<button type="button" (click)="deleteCamp(camp.id)" class="app-icon-btn app-red-text"><i class="fa fa-times" aria-hidden="true"></i></button>
								</div>
							</td>

						  </tr>
						</tbody>
					</table>

				</div>
				
				<!--div class="card">
					<div class="card-body table-responsive">
						<table class="table table-hover table-striped">
							<thead>
								<tr>
									<th>SPO Name</th>
									<th>Team</th>
									<th>Region</th>
									<th>District</th>
									<th>Territory</th>
									<th>Camp Type</th>
									<th>Dr Name</th>
									<th>Camp Date/Time</th>
									<th>Camp Status</th>
									<th *ngIf = "!previous && !future">Action</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let camp of camps">
									<td>{{ camp.user.name }}</td>
									<td>{{ camp.user.user_team.team_name }}</td>
									<td>{{ camp.user.user_region.region_name }}</td>
									<td>{{ camp.user.user_district.district_name }}</td>
									<td>{{ camp.user.user_territory.territory_name }}</td>
									<td *ngIf="camp.camp_type == 1">Cardio Camp</td>
									<td *ngIf="camp.camp_type == 2">Diabetic Camp</td>
									<td *ngIf="camp.camp_type == 3">Cardio/Diabetic Camp</td>
									<td>{{ camp.dr_name }}</td>
									<td>{{ camp.camp_datetime }}</td>
									<td *ngIf="camp.camp_status == 0">Pending</td>
									<td *ngIf="camp.camp_status == 1">Approved</td-->
									<!-- <td>{{ camp.camp_status }}</td> -->
									<!--td *ngIf = "!previous && !future">
										<div class="btn-group" role="group" aria-label="...">
											<button type="button" (click)="viewCamp(camp.id)" class="btn btn-primary">View/Edit</button>
											<button type="button" (click)="deleteCamp(camp.id)" class="btn btn-danger">Delete</button>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div-->
			</div>
		</div>
	</div>
</div>
