<div [@routerTransition]>
    <ngx-spinner
    bdOpacity = 0.9
    bdColor = "#333"
    size = "medium"
    color = "#fff"
    type = "ball-newton-cradle"
    [fullScreen] = "true">
	<p style="color: white" > Loading... </p>
	</ngx-spinner>
    <!-- app-page-header [heading]="'Camps'" [icon]="'fa-users'"></app-page-header -->

    <div class="app-page-title-wrapper">
		<h2 class="app-page-title">{{heading}}</h2>
		<ul class="list-inline app-breadcumb">
			<li  class="list-inline-item">
				<a href="#">CMP Dashboard -</a>
			</li>
			<li  class="list-inline-item">
				<a href="#">Camps -</a>
            </li>
            <li  class="list-inline-item">
				<a href="#">Approved Camps</a>
			</li>
		</ul>
	</div>
	<div class="row">
		<div class="col col-md-8 mx-auto">
    		<div class="app-table-view">		
                <div class="app-table-approved-camps">
					<h3 *ngIf="camps == ''">There is no data to show</h3>
					<table role="table" *ngIf="camps != ''">
						<thead role="rowgroup">
						  <tr role="row">
							<th role="columnheader">Camp Type</th>
							<th role="columnheader">Doctor Name</th>
							<th role="columnheader" *ngIf="!past && !future" class="text-center">Action</th>
						  </tr>
						</thead>
						<tbody role="rowgroup">
						  <tr role="row" *ngFor="let camp of camps">
                            <td role="cell" *ngIf="camp.camp_type == 1">Cardio Camp</td>
                            <td role="cell" *ngIf="camp.camp_type == 2">Diabetic Camp</td>
                            <td role="cell" *ngIf="camp.camp_type == 3">Cardio/Diabetic Camp</td>
                            <td role="cell">{{ camp.dr_name }}</td>
                            <div class="text-center">
                                <button type="button"  *ngIf="!past && !future" (click)="startCamp(camp.id, camp.camp_type)" class="btn btn-outline-success app-btn-small btn-sm app-btn ">Start Camp</button>
                                <!-- <button type="button" class="btn btn-danger">Delete</button> -->
                            </div>
						  </tr>
						</tbody>
					</table>
				</div>
            </div>
        </div>
    </div>        
  </div>
  