<div [@routerTransition]>
    <app-page-header [heading]="'Camps'" [icon]="'fa-users'"></app-page-header>
      <div class="row">
          <div class="col col-xl-12 col-lg-12">
              <div class="card mb-3">
                  <div class="card-header">
                          Approved Camps
                          <!-- <button
                                  type="button"
                                  class="btn btn-primary btn-userAdd"
                                  (click)="addUser()"
                          >
                                  Add User
                          </button> -->
                  </div>
                  <div class="card-body table-responsive">
                      <table class="table table-hover table-striped">
                          <thead>
                              <tr>
                                  <th>Camp Type</th>
                                  <th>Doctor Name</th>
                                  <th>Action</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let camp of camps">
                                  <td>{{ camp.camp_type }}</td>
                                  <td>{{ camp.dr_name }}</td>
                  <td>
                                      <div class="btn-group" role="group" aria-label="...">
                                          <button type="button" (click)="startCamp(camp.id)" class="btn btn-primary">Start Camp</button>
                                          <!-- <button type="button" class="btn btn-danger">Delete</button> -->
                                      </div>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
  