<div [@routerTransition]>
  <app-page-header [heading]="'Forms'" [icon]="'fa-edit'"></app-page-header>
  <!-- <div class="map-container">
    <h4>Click on Map for setting the location of Camp</h4>
    <div class="map-frame">
      <div #mapContainer id="map"></div>
    </div>
  </div> -->
  <div class="row" class="campForm">
      <div class="col-lg-6 my-auto">
          <form [formGroup]="campEditForm">
            <div class="form-group">
              <label>Camp Type</label>
              <select class="form-control" formControlName="campType">
                <option [disabled]>Select Camp</option>
                <option value="1">Cardio Camp</option>
                <option value="2">Dibetic Camp</option>
                <option value="3">Cardio/Dibetic Camp</option>
              </select>
            </div>
            <fieldset class="form-group">
              <label class="required">Doctor Name</label>
              <input class="form-control" formControlName="doctorName" />
            </fieldset>
            <fieldset class="form-group">
              <label class="required">Doctor Phone Number</label>
              <input class="form-control" formControlName="doctorPhoneNumber" />
            </fieldset>
            <fieldset class="form-group">
              <label class="required"><b>Camp Date and Time</b></label>
              <dl-date-time-picker formControlName="campDateAndTime" [(ngModel)]="campEditForm['campDateAndTime']">
              </dl-date-time-picker>
              <input class="form-control" value="{{ campEditForm['campDateAndTime'] }}">
            </fieldset>
            <fieldset class="form-group">
              <label class="required">Camp Address</label>
              <input class="form-control" formControlName="campAddress" />
            </fieldset>
            <div class="form-group">
              <label>BP Apparatus</label>
              <select class="form-control" formControlName="bpApparatus">
                <option [disabled]>Select Option</option>
                <option value="1">Yes</option>
                <option value="0">No</option>
              </select>
            </div>
            <div class="form-group">
              <label>Blood Sugar Meter</label>
              <select class="form-control" formControlName="bloodSugarMeter">
                <option [disabled]>Select Option</option>
                <option value="1">Yes</option>
                <option value="0">No</option>
              </select>
            </div>
            <fieldset class="form-group">
              <label class="required">Number of Strips</label>
              <input class="form-control" maxlength="3" formControlName="strips" />
            </fieldset>
            <fieldset class="form-group">
              <label class="required">Number of Flyers</label>
              <input class="form-control" maxlength="3" formControlName="flyers" />
            </fieldset>
            <fieldset class="form-group">
              <label class="required">Number of Screeing Slips</label>
              <input class="form-control" maxlength="3" formControlName="screeingSlips" />
            </fieldset>
            <button type="submit" (click)="onCampApprove(campId)" class="btn btn-success" [disabled]="!campEditForm.valid">
              Approve
            </button>
            <!-- <ng-template #elseBlock><button type="submit" class="btn btn-success" [disabled]="!campEditForm.valid">
              Approved
            </button></ng-template> -->
          </form>
      </div>
  </div>
</div>
