<nav class="sidebar app-top-0" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="app-sidebar-header">
        <div class="sidebar-app-logo"></div>
        <h2 class="sidebar-app-name">Camp Monitoring Program</h2>
    </div>
    <div class="list-group" *ngIf = "userDesignation == '1' || userDesignation == '2' || userDesignation == '3' || userDesignation == '4' || userDesignation == '5' || userDesignation == '6' || userDesignation == '7' || userDesignation == '8' || userDesignation == '9' || userDesignation == '10' || userDesignation == '11' || userDesignation == '15' || userDesignation == '16' || userDesignation == '17' || userDesignation == '18'">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" (click)="clearEditStatus()" class="list-group-item sidebar-link">
            <span class="app-sidebar-icon app-icon-dashboard"></span>
            <span>{{ 'Dashboard' | translate }}</span>
        </a>
        <a routerLink="/users" [routerLinkActive]="['router-link-active']" (click)="clearEditStatus()" class="list-group-item sidebar-link">
            <span class="app-sidebar-icon app-icon-users"></span>
            <span>{{ 'Users' | translate }}</span>
        </a>
        <a (click)="subItemsToggle(); clearEditStatus()" href="javascript:void(0)"  class="list-group-item sidebar-link">
            <span class="app-sidebar-icon app-icon-camps"></span>
            <span>{{ 'Camps' | translate }}</span>
            <i class="fa fa-angle-down sidebar-icon sidebar-down-arrow" aria-hidden="true"></i>
        </a>

        <div class="app-sidebar-subitems" *ngIf="showSubItems">
            <a routerLink="/camps/campsRequest" (click)="requestedCamps(); clearEditStatus()" [routerLinkActive]="['router-link-active']" class="list-group-item sidebar-link">
                <span class="app-sidebar-icon app-icon-camp-requests"></span>
                <span>{{ 'Camp Requests' | translate }}</span>
            </a>
        </div>
        <a (click)="onCampStatistics(); clearEditStatus()" href="javascript:void(0)" [routerLinkActive]="['router-link-active']" class="list-group-item sidebar-link">
            <span class="app-sidebar-icon app-icon-patients"></span>
            <span>{{ 'Camp Statistics' | translate }}</span>
        </a>
        <a (click)="onPatients(); clearEditStatus()" href="javascript:void(0)" [routerLinkActive]="['router-link-active']" class="list-group-item sidebar-link">
            <span class="app-sidebar-icon app-icon-patients"></span>
            <span>{{ 'Patients' | translate }}</span>
        </a>
        <a (click)="onDoctors(); clearEditStatus()" href="javascript:void(0)" [routerLinkActive]="['router-link-active']" class="list-group-item sidebar-link">
            <span class="app-sidebar-icon app-icon-doctors"></span>
            <span>{{ 'Doctors' | translate }}</span>
        </a>
    </div>

    <div class="list-group" *ngIf = "userDesignation == '12' || userDesignation == '12' || userDesignation == '13'">
        <a (click)="spoDashboardLink()" href="javascript:void(0)" [routerLinkActive]="['router-link-active']" class="list-group-item sidebar-link">
            <span class="app-sidebar-icon app-icon-dashboard"></span>
            <span>{{ 'SPO Dashboard' | translate }}</span>
        </a>
    </div>
    <div class="list-group" *ngIf = "userDesignation == '12' || userDesignation == '13' || userDesignation == '14'">
        <a (click)="subItemsToggle()" href="javascript:void(0)"  class="list-group-item sidebar-link">
            <span class="app-sidebar-icon app-icon-camps"></span>
            <span>{{ 'Camps' | translate }}</span>
            <i class="fa fa-angle-down sidebar-icon sidebar-down-arrow" aria-hidden="true"></i>
        </a>
    </div>
    <div class="app-sidebar-subitems" *ngIf="showSubItems">
        <div class="list-group" *ngIf = "userDesignation == '12' || userDesignation == '13' || userDesignation == '14'">
            <a (click)="spoCreateCamp()" href="javascript:void(0)" [routerLinkActive]="['router-link-active']" class="list-group-item sidebar-link">
                <span class="app-sidebar-icon app-icon-add-camp"></span>
                <span>{{ 'Add a Camp' | translate }}</span>
            </a>
        </div>
        <div class="list-group" *ngIf = "userDesignation == '12' || userDesignation == '13' || userDesignation == '14'">
            <a (click)="onPastCamps()" href="javascript:void(0)" class="list-group-item sidebar-link">
                <span class="app-sidebar-icon app-icon-previous-camps"></span>
                <span>{{ 'Previous Camps' | translate }}</span>
            </a>
        </div>
        <div class="list-group" *ngIf = "userDesignation == '12' || userDesignation == '13' || userDesignation == '14'">
            <a (click)="onAssignedCamps()" href="javascript:void(0)" class="list-group-item sidebar-link">
                <span class="app-sidebar-icon app-icon-current-camps"></span>
                <span>{{ 'Current Camps' | translate }}</span>
            </a>
        </div>
        <div class="list-group" *ngIf = "userDesignation == '12' || userDesignation == '13' || userDesignation == '14'">
            <a (click)="onFutureCamps()" href="javascript:void(0)" class="list-group-item sidebar-link">
                <span class="app-sidebar-icon app-icon-future-camps"></span>
                <span>{{ 'Future Camps' | translate }}</span>
            </a>
        </div>
    </div>

    <div class="list-group" *ngIf = "userDesignation == '12' || userDesignation == '13' || userDesignation == '14'">
        <a (click)="spoPatient()" href="javascript:void(0)" [routerLinkActive]="['router-link-active']" class="list-group-item sidebar-link">
            <span class="app-sidebar-icon app-icon-patients"></span>
            <span>{{ 'Patients' | translate }}</span>
        </a>
    </div>

    <div class="list-group">
        <a (click)="onProfile()" href="javascript:void(0)" [routerLinkActive]="['router-link-active']" class="list-group-item sidebar-link">
            <span class="app-sidebar-icon app-icon-profile"></span>
            <span>{{ 'Profile' | translate }}</span>
        </a>
    </div>

    <div class="list-group">
        <a (click)="onLoggedout()" [routerLink]="['/login']" [routerLinkActive]="['router-link-active']" class="list-group-item sidebar-link">
            <span class="app-sidebar-icon app-icon-logout"></span>
            <span>{{ 'Log Out' | translate }}</span>
        </a>
    </div>
    <div class="list-group">
    </div>
</nav>
