<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="list-group" *ngIf = "userDesignation !== '9' && userDesignation !== '10' && userDesignation !== '11'">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-tasks"></i>&nbsp;
            <span>{{ 'Dashboard' | translate }}</span>
        </a>
        <a routerLink="/users" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-users"></i>&nbsp;
            <span>{{ 'Users' | translate }}</span>
        </a>
        <a routerLink="/camps/campsRequest" (click)="requestedCamps()" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-tasks"></i>&nbsp;
            <span>{{ 'Camps' | translate }}</span>
        </a>
        <a (click)="onPatients()" href="javascript:void(0)" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-tasks"></i>&nbsp;
            <span>{{ 'Patients' | translate }}</span>
        </a>
        <a (click)="onDoctors()" href="javascript:void(0)" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-tasks"></i>&nbsp;
            <span>{{ 'Doctors' | translate }}</span>
        </a>
    </div>

    <div class="list-group" *ngIf = "userDesignation == '9' || userDesignation == '10' || userDesignation == '11'">
        <a (click)="spoDashboardLink()" href="javascript:void(0)" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-tasks"></i>&nbsp;
            <span>{{ 'SPO Dashboard' | translate }}</span>
        </a>
    </div>

    <div class="list-group" *ngIf = "userDesignation == '9' || userDesignation == '10' || userDesignation == '11'">
        <a (click)="spoCreateCamp()" href="javascript:void(0)" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-tasks"></i>&nbsp;
            <span>{{ 'Camps' | translate }}</span>
        </a>
    </div>

    <div class="list-group" *ngIf = "userDesignation == '9' || userDesignation == '10' || userDesignation == '11'">
        <a (click)="spoPatient()" href="javascript:void(0)" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-tasks"></i>&nbsp;
            <span>{{ 'Patients' | translate }}</span>
        </a>
    </div>

    <div class="list-group">
        <a (click)="onProfile()" href="javascript:void(0)" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-user"></i>&nbsp;
            <span>{{ 'Profile' | translate }}</span>
        </a>
    </div>

    <div class="list-group">
        <a (click)="onLoggedout()" [routerLink]="['/login']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-power-off"></i>&nbsp;
            <span>{{ 'Log Out' | translate }}</span>
        </a>
    </div>

    <!-- <a class="dropdown-item" [routerLink]="['/login']" (click)="onLoggedout()">
        <i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}
    </a> -->

    <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-{{collapsed?'right':'left'}}"></i>&nbsp;
        <span>{{ 'Collapse Sidebar' | translate }}</span>
    </div>
</nav>
