<nav class="sidebar app-top-0" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="app-sidebar-header">
        <div class="sidebar-app-logo"></div>
        <h2 class="sidebar-app-name">Camp Monitoring Program</h2>
    </div>
    <div class="list-group" *ngIf = "userDesignation !== '9' && userDesignation !== '10' && userDesignation !== '11'">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item sidebar-link">
            <i class="fa fa-th sidebar-icon" aria-hidden="true"></i>
            <span>{{ 'Dashboard' | translate }}</span>
        </a>
        <a routerLink="/users" [routerLinkActive]="['router-link-active']" class="list-group-item sidebar-link">
            <i class="fa fa-users sidebar-icon" aria-hidden="true"></i>
            <span>{{ 'Users' | translate }}</span>
        </a>
        <a (click)="subItemsToggle()" href="javascript:void(0)"  class="list-group-item sidebar-link">
            <i class="fa fa-braille sidebar-icon" aria-hidden="true"></i>
            <span>{{ 'Camps' | translate }}</span>
            <i class="fa fa-angle-down sidebar-icon sidebar-down-arrow" aria-hidden="true"></i>
        </a>

        <div class="app-sidebar-subitems" *ngIf="showSubItems">
            <a routerLink="/camps/campsRequest" (click)="requestedCamps()" [routerLinkActive]="['router-link-active']" class="list-group-item sidebar-link">
                <i class="fa fa-th-large sidebar-icon" aria-hidden="true"></i>
                <span>{{ 'Camp Reuests' | translate }}</span>
            </a>
            <a class="list-group-item sidebar-link">
                <i class="fa fa-undo sidebar-icon" aria-hidden="true"></i>
                <span>{{ 'Previous Camps' | translate }}</span>
            </a>
            <a class="list-group-item sidebar-link">
                <i class="fa fa-gg sidebar-icon" aria-hidden="true"></i>
                <span>{{ 'Current Camps' | translate }}</span>
            </a>
            <a class="list-group-item sidebar-link">
                <i class="fa fa-share sidebar-icon" aria-hidden="true"></i>
                <span>{{ 'Future Camps' | translate }}</span>
            </a>

        </div>
        <a (click)="onPatients()" href="javascript:void(0)" [routerLinkActive]="['router-link-active']" class="list-group-item sidebar-link">
            <i class="fa fa-heartbeat sidebar-icon" aria-hidden="true"></i>
            <span>{{ 'Patients' | translate }}</span>
        </a>
        <a (click)="onDoctors()" href="javascript:void(0)" [routerLinkActive]="['router-link-active']" class="list-group-item sidebar-link">
            <i class="fa fa-stethoscope sidebar-icon" aria-hidden="true"></i>
            <span>{{ 'Doctors' | translate }}</span>
        </a>
    </div>

    <div class="list-group" *ngIf = "userDesignation == '9' || userDesignation == '10' || userDesignation == '11'">
        <a (click)="spoDashboardLink()" href="javascript:void(0)" [routerLinkActive]="['router-link-active']" class="list-group-item sidebar-link">
            <i class="fa fa-th sidebar-icon" aria-hidden="true"></i>
            <span>{{ 'SPO Dashboard' | translate }}</span>
        </a>
    </div>
    <div class="list-group" *ngIf = "userDesignation == '9' || userDesignation == '10' || userDesignation == '11'">
        <a (click)="subItemsToggle()" href="javascript:void(0)"  class="list-group-item sidebar-link">
            <i class="fa fa-braille sidebar-icon" aria-hidden="true"></i>
            <span>{{ 'Camps' | translate }}</span>
            <i class="fa fa-angle-down sidebar-icon sidebar-down-arrow" aria-hidden="true"></i>
        </a>
    </div>
    <div class="app-sidebar-subitems" *ngIf="showSubItems">
        <div class="list-group" *ngIf = "userDesignation == '9' || userDesignation == '10' || userDesignation == '11'">
            <a (click)="spoCreateCamp()" href="javascript:void(0)" [routerLinkActive]="['router-link-active']" class="list-group-item sidebar-link">
                <i class="fa fa-plus sidebar-icon" aria-hidden="true"></i>
                <span>{{ 'Add a Camp' | translate }}</span>
            </a>
        </div>
        <div class="list-group" *ngIf = "userDesignation == '9' || userDesignation == '10' || userDesignation == '11'">
            <a href="javascript:void(0)" class="list-group-item sidebar-link">
                <i class="fa fa-undo  sidebar-icon" aria-hidden="true"></i>
                <span>{{ 'Previous Camps' | translate }}</span>
            </a>
        </div>
        <div class="list-group" *ngIf = "userDesignation == '9' || userDesignation == '10' || userDesignation == '11'">
            <a  href="javascript:void(0)" class="list-group-item sidebar-link">
                <i class="fa fa-gg sidebar-icon" aria-hidden="true"></i>
                <span>{{ 'Current Camps' | translate }}</span>
            </a>
        </div>
        <div class="list-group" *ngIf = "userDesignation == '9' || userDesignation == '10' || userDesignation == '11'">
            <a href="javascript:void(0)" class="list-group-item sidebar-link">
                <i class="fa fa-share sidebar-icon" aria-hidden="true"></i>
                <span>{{ 'Future Camps' | translate }}</span>
            </a>
        </div>
    </div>

    <div class="list-group" *ngIf = "userDesignation == '9' || userDesignation == '10' || userDesignation == '11'">
        <a (click)="spoPatient()" href="javascript:void(0)" [routerLinkActive]="['router-link-active']" class="list-group-item sidebar-link">
            <i class="fa fa-heartbeat sidebar-icon" aria-hidden="true"></i>
            <span>{{ 'Patients' | translate }}</span>
        </a>
    </div>

    <div class="list-group">
        <a (click)="onProfile()" href="javascript:void(0)" [routerLinkActive]="['router-link-active']" class="list-group-item sidebar-link">
            <i class="fa fa-id-card-o sidebar-icon" aria-hidden="true"></i>
            <span>{{ 'Profile' | translate }}</span>
        </a>
    </div>

    <div class="list-group">
        <a (click)="onLoggedout()" [routerLink]="['/login']" [routerLinkActive]="['router-link-active']" class="list-group-item sidebar-link">
            <i class="fa fa-sign-out sidebar-icon" aria-hidden="true"></i>
            <span>{{ 'Log Out' | translate }}</span>
        </a>
    </div>
    <div class="list-group">
        <!-- <a (click)="onLoggedout()" [routerLink]="['/login']" [routerLinkActive]="['router-link-active']" class="list-group-item sidebar-link">
            <i class="fa fa-sign-out sidebar-icon" aria-hidden="true"></i>
            <span>{{ 'Log Out' | translate }}</span>
        </a> -->
    </div>

    <!-- <a class="dropdown-item" [routerLink]="['/login']" (click)="onLoggedout()">
        <i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}
    </a> -->

    <!-- <div class="toggle-button sidebar-link" [ngClass]="{collapsed: collapsed}"> -->
        <!-- <i class="fa fa-fw"></i>&nbsp; -->
        <!-- <span>{{ 'Collapse Sidebar' | translate }}</span> -->
    <!-- </div> -->
</nav>
