<div [@routerTransition]>
  <ngx-spinner
    bdOpacity = 0.9
    bdColor = "#333"
    size = "medium"
    color = "#fff"
    type = "ball-newton-cradle"
    [fullScreen] = "true"
  >
<p style="color: white" > Loading... </p>
</ngx-spinner>
  <app-page-header [heading]="'Forms'" [icon]="'fa-edit'"></app-page-header>

  <div class="row">
      <div class="col-lg-6 my-auto">
          <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <fieldset class="form-group">
              <label class="required">Name</label>
              <input class="form-control" formControlName="name" />
            </fieldset>
            <div class="form-group">
              <label>Designation</label>
              <select class="form-control" formControlName="designation">
                <option [disabled]>Select Role</option>
                <option *ngFor = "let role of roles" value={{role.id}}>{{ role.role_name }} ({{ role.role_abv }}) </option>
              </select>
            </div>
            <fieldset class="form-group">
              <label class="required">Employee Code</label>
              <input class="form-control" formControlName="employeeCode" />
            </fieldset>
            <fieldset class="form-group">
              <label class="required">Mobile #</label>
              <input class="form-control" formControlName="mobileNumber" [textMask]="mask" />
            </fieldset>
            <fieldset class="form-group">
              <label class="required">Email</label>
              <input class="form-control" formControlName="email" />
            </fieldset>
            <fieldset class="form-group">
              <label class="required">CNIC</label>
              <input class="form-control" formControlName="cnic" />
            </fieldset>
            <div class="form-group">
              <label>Teams</label>
              <select class="form-control" formControlName="team">
                <option [disabled]>Select Team</option>
                <option *ngFor = "let team of teams" value={{team.id}}>{{ team.team_name }}</option>
              </select>
            </div>
            <div class="form-group">
              <label>Regions</label>
              <select class="form-control" formControlName="region" (change)="getDisctricts($event.target.value)">
                <option [disabled]>Select Region</option>
                <option *ngFor = "let region of regions" value={{region.id}}>{{ region.region_name }}</option>
              </select>
            </div>
            <div class="form-group">
              <label>District</label>
              <select class="form-control" formControlName="district" (change)="getTerritories($event.target.value)">
                <option [disabled]>Select District</option>
                <option *ngFor = "let district of districts" value={{district.id}}>{{ district.district_name }}</option>
              </select>
            </div>
            <div class="form-group">
              <label>Territory</label>
              <select class="form-control" formControlName="territory">
                <option [disabled]>Select Territory</option>
                <option *ngFor = "let territory of territories" value={{territory.id}}>{{ territory.territory_name }}</option>
              </select>
            </div>
            <div class="btn-group" role="group" aria-label="...">
              <button type="submit" [disabled]="!userForm.valid" class="btn btn-success">{{ editStatus ? 'Update' : 'Add' }}</button>
              <button type="button" class="btn btn-danger" (click)="onDelete()" *ngIf="editStatus">Delete</button>
              <button type="button" class="btn btn-primary" (click)="onClearForm()" *ngIf="editStatus">Clear</button>
            </div>
            <!-- <button type="submit" class="btn btn-success" [disabled]="!userForm.valid">
              {{ editStatus ? 'Update' : 'Add' }}
            </button>
            <button type="reset" class="btn btn-danger" (click)="onDelete()" *ngIf="editStatus">Delete</button>
            <button type="reset" class="btn btn-primary" (click)="onClearForm()">
              Reset Button
            </button> -->
          </form>
      </div>
  </div>
</div>
